In [5]:
import numpy as np
import pandas as pd

### 1. Прочитайте [цей](https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-10-08/ipf_lifts.csv) набір даних пауерліфтингу в pandas

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-10-08/ipf_lifts.csv')
data.head(5)

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
0,Hiroyuki Isagawa,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,205.0,140.0,225.0,1,1985-08-03,IPF,World Games
1,David Mannering,M,SBD,Single-ply,24.0,24-34,NaN,67.5,67.5,225.0,132.5,235.0,2,1985-08-03,IPF,World Games
2,Eddy Pengelly,M,SBD,Single-ply,35.5,35-39,NaN,67.5,67.5,245.0,157.5,270.0,3,1985-08-03,IPF,World Games
3,Nanda Talambanua,M,SBD,Single-ply,19.5,20-23,NaN,67.5,67.5,195.0,110.0,240.0,4,1985-08-03,IPF,World Games
4,Göran Henrysson,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,240.0,140.0,215.0,5,1985-08-03,IPF,World Games

In [7]:
data.isnull().sum()

name                    0
sex                     0
event                   0
equipment               0
age                  2906
age_class            2884
division              627
bodyweight_kg         187
weight_class_kg         1
best3squat_kg       13698
best3bench_kg        2462
best3deadlift_kg    14028
place                   0
date                    0
federation              0
meet_name               0
dtype: int64

In [8]:
data_agg = data.dropna()

In [9]:
data_agg.isnull().sum()

name                0
sex                 0
event               0
equipment           0
age                 0
age_class           0
division            0
bodyweight_kg       0
weight_class_kg     0
best3squat_kg       0
best3bench_kg       0
best3deadlift_kg    0
place               0
date                0
federation          0
meet_name           0
dtype: int64

In [10]:
data_agg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23815 entries, 208 to 41021
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              23815 non-null  object
 1   sex               23815 non-null  object
 2   event             23815 non-null  object
 3   equipment         23815 non-null  object
 4   age               23815 non-null  float64
 5   age_class         23815 non-null  object
 6   division          23815 non-null  object
 7   bodyweight_kg     23815 non-null  float64
 8   weight_class_kg   23815 non-null  object
 9   best3squat_kg     23815 non-null  float64
 10  best3bench_kg     23815 non-null  float64
 11  best3deadlift_kg  23815 non-null  float64
 12  place             23815 non-null  object
 13  date              23815 non-null  object
 14  federation        23815 non-null  object
 15  meet_name         23815 non-null  object
dtypes: float64(5), object(11)
memory usage: 3.1+ MB

In [11]:
print(data_agg['event'].unique())

print(data_agg['equipment'].unique())

print(data_agg['division'].unique())

print(data_agg['sex'].unique())

['SBD']
['Single-ply' 'Raw' 'Wraps']
['Open' 'Juniors' 'Light' 'Middle' 'Heavy' 'Super' 'Sub-Juniors'
 'SuperHeavy' 'Masters 1' 'Masters 2' 'Masters 3' 'Masters 4']
['F' 'M']

### 2. Знайдіть рекорди кожної статі та кожного підрозділу в кожній із 3 вправ (жим лежачи, присідання та станова тяга)

In [12]:
data_agg.groupby(['sex','division']) \
    .max(['best3squat_kg','best3bench_kg','best3deadlift_kg']) \
    .filter(items=['best3squat_kg','best3bench_kg','best3deadlift_kg'])

                 best3squat_kg  best3bench_kg  best3deadlift_kg
sex division
F   Heavy                305.0          192.5             248.5
    Juniors              282.5          190.0             252.5
    Light                220.0          150.0             202.5
    Masters 1            245.0          187.5             248.0
    Masters 2            255.0          152.5             212.5
    Masters 3            210.0          135.5             190.0
    Masters 4            135.0           87.5             142.5
    Middle               247.5          170.0             235.0
    Open                 322.5          227.0             270.5
    Sub-Juniors          265.0          170.0             238.0
    Super                267.5          190.0             245.0
    SuperHeavy           310.5          205.0             247.5
M   Heavy                432.0          330.0             382.5
    Juniors              450.0          356.0             377.5
    Light                325.5          217.5             315.0
    Masters 1            405.0          342.5             395.0
    Masters 2            365.0          292.5             335.0
    Masters 3            300.0          235.5             305.0
    Masters 4            225.0          196.5             260.5
    Middle               370.0          268.5             345.0
    Open                 490.0          415.0             407.5
    Sub-Juniors          370.0          285.0             335.0
    Super                465.0          360.0             387.5
    SuperHeavy           440.0          350.0             420.0

### 3. Порахуйте кількість перемог кожного учасника, беручи за перемогу 1-е місце. Збережіть результати у вторинному DataFrame.

In [13]:
first_place = data_agg[data_agg.place == '1'].groupby(['division', 'sex', 'name']).agg({'place': 'count'}) \
    .rename(columns={'place': 'number_of_victories'}) 

first_place

                                    number_of_victories
division   sex name
Heavy      F   Ana Rosa Castellain                    2
               Larysa Soloviova                       1
               Lisa Sjöstrand                         1
               Marina Kudinova                        1
               Svetl Miklasevich                      1
...                                                 ...
Super      F   Olena Kozlova                          1
           M   Andrey Konovalov #1                    1
               Michael Tuchscherer                    1
SuperHeavy F   Bonica Brown                           1
           M   Oleksiy Rokochyy Jr                    1

[2410 rows x 1 columns]

### 4. Використовуйте DataFrame з вправи 3, щоб показати для кожної комбінації підрозділи та статі, учасника з найбільшою кількістю перемог серед учасників, які будь-коли брали участь у цьому дивізіоні

In [14]:
import itertools

result = pd.DataFrame()

for div, sex in itertools.product(data_agg.division.unique(),data_agg.sex.unique()):
    first_place_name = first_place.loc[(str(div),str(sex)),:].idxmax()[0]
    num = first_place.loc[(str(div),str(sex),str(first_place_name)),:]
    result_buf = pd.DataFrame({'Division': div,
                          'sex': sex,
                          'name': first_place_name,
                          'number_of_wins': num})
    result = pd.concat([result,result_buf])
    
result.reset_index(drop=True, inplace=True)

result

       Division sex                     name  number_of_wins
0          Open   F             Bonica Brown              10
1          Open   M        Sergey Fedosienko              20
2       Juniors   F           Elena Yamskich               5
3       Juniors   M             Dalton LaCoe               6
4         Light   F        Natalia Salnikova               2
5         Light   M           Alexey Sivokon               2
6        Middle   F         Larysa Soloviova               2
7        Middle   M           Jarosław Olech               3
8         Heavy   F      Ana Rosa Castellain               2
9         Heavy   M           Daisuke Midote               1
10        Super   F   Iryna Karpova-Yavorska               1
11        Super   M      Andrey Konovalov #1               1
12  Sub-Juniors   F    Sonja Stefanie Krüger               5
13  Sub-Juniors   M         Alexander Kolbin               2
14   SuperHeavy   F             Bonica Brown               1
15   SuperHeavy   M      Oleksiy Rokochyy Jr               1
16    Masters 1   F          Nathalie Feraud               8
17    Masters 1   M         Eric Kupperstein               9
18    Masters 2   F             Sue Hollands               8
19    Masters 2   M            Hideaki Inaba              10
20    Masters 3   F        Vuokko Viitasaari               6
21    Masters 3   M              Ron Delaney               6
22    Masters 4   F               Bebe Burns               5
23    Masters 4   M  Kazimierz Michael Forys               7

In [15]:
len(data[(data.name == 'Hideaki Inaba') & (data.place == '1') & (data.division == 'Masters 2')].dropna())

10

### 5. Підключіться до бази даних employees і виконайте за допомогою pandas останній запит із фінального проекту SQL. Переконайтеся, що результати завантажені в Pandas DataFrame.

In [16]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\anton\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pymysql
import pandas as pd

conn = pymysql.Connection(host='localhost', 
                          port=int(3306), 
                          user='root', 
                          password ='toxati@******', # необхідно замінити ******
                          db='employees')

df = pd.read_sql_query('SELECT * FROM employees', conn)
df.head(10)

C:\Users\Anton\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24